### Trip Data Pull ###

In [124]:
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]
1.14.0
0.22.0

In [125]:
# Adam Yang - import data files
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import datetime
#pd.options.display.float_format = '{:,.2f}'.format

dtparser = lambda x: pd.datetime.strptime(x, "%m/%d/%Y %H:%M:%S")

Uapr = pd.read_csv("./uber-raw-data-apr14.csv", parse_dates=["Date/Time"], date_parser=dtparser)
Umay = pd.read_csv("./uber-raw-data-may14.csv", parse_dates=["Date/Time"], date_parser=dtparser)
Ujun = pd.read_csv("./uber-raw-data-jun14.csv", parse_dates=["Date/Time"], date_parser=dtparser)
Ujul = pd.read_csv("./uber-raw-data-jul14.csv", parse_dates=["Date/Time"], date_parser=dtparser)
Uaug = pd.read_csv("./uber-raw-data-aug14.csv", parse_dates=["Date/Time"], date_parser=dtparser)
Usep = pd.read_csv("./uber-raw-data-sep14.csv", parse_dates=["Date/Time"], date_parser=dtparser)

uber_df = pd.concat([Uapr,Umay,Ujun,Ujul,Uaug,Usep])
uber_df.columns = ["Date_Time", "Lat", "Lon", "Base"]

In [126]:
# Adam Yang - Added Day of Week column (dow)
uber_df["dow"] = uber_df['Date_Time'].apply(lambda x: x.strftime("%A"))

In [127]:
uber_df.head()

            Date_Time      Lat      Lon    Base      dow
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512  Tuesday
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512  Tuesday
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512  Tuesday
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512  Tuesday
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512  Tuesday

In [128]:
#Alla Hale
print(uber_df.dtypes)
print(uber_df.describe())

uber_df.Base.value_counts()

Date_Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
dow                  object
dtype: object
                Lat           Lon
count  4.534327e+06  4.534327e+06
mean   4.073926e+01 -7.397302e+01
std    3.994991e-02  5.726670e-02
min    3.965690e+01 -7.492900e+01
25%    4.072110e+01 -7.399650e+01
50%    4.074220e+01 -7.398340e+01
75%    4.076100e+01 -7.396530e+01
max    4.211660e+01 -7.206660e+01

B02617    1458853
B02598    1393113
B02682    1212789
B02764     263899
B02512     205673
Name: Base, dtype: int64

### Weather Data Pull ###

In [129]:
#convert the celcius 

#pull in weather description
weather_df = pd.read_csv("./weather_description.csv", parse_dates=["datetime"])
weather_df = weather_df[["datetime","New York"]]
weather_df.columns = ["date_time", "weather_description"]

#pull in temperature data
temp_df = pd.read_csv("./temperature.csv", parse_dates=["datetime"])
temp_df = temp_df[["datetime", "New York"]]
temp_df.columns = ["date_time", "temperature"]

#convert kelvin to celcius
temp_df["temperature"] = temp_df["temperature"]-273.15

#pull in humidity data
humid_df = pd.read_csv("./humidity.csv", parse_dates=["datetime"])
humid_df = humid_df[["datetime", "New York"]]
humid_df.columns = ["date_time", "humidity"]

#join all weather data together
weather_df = weather_df.set_index("date_time").join(temp_df.set_index("date_time"))
weather_df = weather_df.join(humid_df.set_index("date_time"))

In [130]:
weather_df.head()

                    weather_description  temperature  humidity
date_time
2012-10-01 12:00:00                 NaN          NaN       NaN
2012-10-01 13:00:00          few clouds    15.070000      58.0
2012-10-01 14:00:00          few clouds    15.097676      57.0
2012-10-01 15:00:00          few clouds    15.176940      57.0
2012-10-01 16:00:00          few clouds    15.256203      57.0

### Uber and Weather DataFrame Merge ###

In [131]:
#change column names for uber_df
uber_df.columns = ["date_time", "lat", "lon", "base", "dow"]

#add column date_time that is rounded to hour
uber_df["date_time_h"] = uber_df["date_time"].dt.floor("h")

#merge the two tables together
uber_df = uber_df.set_index("date_time_h").join(weather_df)

#reset index
uber_df.reset_index(drop=True, inplace=True)

In [132]:
uber_df.head()

,date_time,lat,lon,base,dow,weather_description,temperature,humidity
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,Tuesday,scattered clouds,9.81,40.0
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,Tuesday,scattered clouds,9.81,40.0
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,Tuesday,scattered clouds,9.81,40.0
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,Tuesday,scattered clouds,9.81,40.0
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,Tuesday,scattered clouds,9.81,40.0

### Alla's Section ###

### Adam's Section ###

### Armand's Section ###

In [ ]:
# Adam Yang - test block